@import url("https://fonts.googleapis.com/css2?family=Onest:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  cursor: default;
  scroll-behavior: smooth;
  font-family: "Onest", sans-serif;
}

:root {
  --blue: #004cee;
  --grey: #ddd;
  --black1: rgba(0, 0, 0, 0.9);
  --black2: rgba(0, 0, 0, 0.6);
  --black3: rgba(0, 0, 0, 0.3);
}

.box a {
  text-decoration: none;
}

.navbar .menu a:hover::before {
  width: calc(100% - 2px);
  left: 1px;
}

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 235px;
  padding-bottom: 315px;
  padding-left: 144px;
  overflow: hidden;
}

.home .fog {
  position: absolute;
  top: 0;
  left: 864px;
}

.navbar-extra {
  visibility: hidden;
}

.home h1 {
  font-size: 96px;
  line-height: 96px;
  font-weight: 400;
  white-space: nowrap;
  letter-spacing: 164px;
  transition: letter-spacing 2.1s ease-in-out, color 0.3s ease-in-out;
  -webkit-text-stroke: 1px var(--blue);
  color: var(--blue);
}

.home h1.animate {
  letter-spacing: -1px;
}

.home h1 span {
  color: transparent;
  transition: color 0.3s ease-in-out;
}

.home h1:hover {
  letter-spacing: -1px;
  color: white;
}

.home h1 span:hover {
  color: var(--blue);
}

.home p {
  margin-top: 8px;
  font-size: 18px;
  color: var(--black2);
  font-weight: 500;
}

.about {
  padding-bottom: 157px;
  margin: 0 144px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.animate-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1.2s, transform 1.2s;
}

.animate-right {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 1.2s, transform 1.2s;
}

.about.show .animate-left {
  opacity: 1;
  transform: translateX(0);
}

.about.show .animate-right {
  opacity: 1;
  transform: translateX(0);
}

.photo-container {
  position: relative;
}

.photo {
  position: relative;
  z-index: 2;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.circles {
  position: absolute;
  height: 360px;
  width: 360px;
  top: 0;
  left: 0;
  z-index: 1;
  animation: rotate 9s linear infinite;
}

.circle1 {
  position: absolute;
  height: 64px;
  width: 64px;
  background-color: var(--blue);
  border-radius: 99px;
  top: -12px;
  left: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 36px;
}

.circle2 {
  position: absolute;
  height: 64px;
  width: 64px;
  background-color: var(--blue);
  border-radius: 99px;
  bottom: -12px;
  right: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 36px;
}

@keyframes rotate1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.circle1 i,
.circle2 i {
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.circle1 i {
  animation-name: rotate1;
}

.circle2 i {
  animation-name: rotate2;
}

.about .photo img {
  height: 360px;
}

.about .text {
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: justify;
}

.about .text h2 {
  display: flex;
  align-items: center;
  font-size: 64px;
  height: 96px;
  color: var(--blue);
  font-weight: 600;
}

.about .text p {
  color: var(--black1);
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 20px;
  max-width: 486px;
}

.about a {
  font-size: 18;
  color: white;
  background: var(--blue);
  text-decoration: none;
  max-width: fit-content;
  padding: 10px 28px;
  border-radius: 999px;
  transition: 0.3s;
  border: solid 2px var(--blue);
  cursor: pointer;
}

.about a:hover {
  color: var(--blue);
  background: white;
}

.portofolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
}

.portofolio h3 {
  font-size: 48px;
  color: var(--blue);
  font-weight: 600;
  opacity: 0;
  transform: translateY(48px);
  transition: opacity 0.6s, transform 0.6s;
}

.portofolio.show h3 {
  opacity: 1;
  transform: translateY(0);
}

.portofolio .box {
  display: flex;
  gap: 44px;
}

.portofolio .website,
.portofolio .musik,
.portofolio .lainnya {
  border-radius: 18px;
  width: 327px;
  height: 392px;
  background: var(--blue);
  border: solid 4px var(--blue);
  transition: 0.3s;
  cursor: pointer;
}

.website .photo,
.musik .photo,
.lainnya .photo {
  height: 292px;
  cursor: pointer;
}

.website .photo {
  background: url(website.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  height: 292px;
  overflow: hidden;
  transition: 0.3s;
}

.frame {
  border-radius: 14px 14px 0 0;
  overflow: hidden;
}

.website:hover .photo,
.musik:hover .photo,
.lainnya:hover .photo {
  filter: grayscale(0%);
  transform: scale(1.1);
}

.musik .photo {
  background: url(musik.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
  filter: grayscale(100%);
  height: 292px;
  overflow: hidden;
  transition: 0.3s;
}

.lainnya .photo {
  background: url(ui.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
  filter: grayscale(100%);
  height: 292px;
  overflow: hidden;
  transition: 0.3s;
}

.website .label,
.musik .label,
.lainnya .label {
  cursor: pointer;
  margin: 0 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.website .label h4,
.musik .label h4,
.lainnya .label h4 {
  cursor: pointer;
  font-size: 48px;
  font-weight: 600;
}

.website .label i,
.musik .label i,
.lainnya .label i {
  cursor: pointer;
  font-size: 48px;
}

.website:hover,
.musik:hover,
.lainnya:hover {
  background: white;
}

.website:hover .label,
.musik:hover .label,
.lainnya:hover .label {
  color: var(--blue);
}

.arrow {
  transition: transform 0.3s;
}

.website:hover .arrow,
.musik:hover .arrow,
.lainnya:hover .arrow {
  transform: scale(1.1) rotate(-45deg);
}

.animate-bottom {
  opacity: 0;
  transform: translateY(48px);
  transition: opacity 0.3s, transform 0.3s;
}

.portofolio.show .animate-bottom:nth-child(1) {
  transition-delay: 0.3s;
}

.portofolio.show .animate-bottom:nth-child(2) {
  transition-delay: 0.6s;
}

.portofolio.show .animate-bottom:nth-child(3) {
  transition-delay: 0.9s;
}

.portofolio.show .animate-bottom {
  opacity: 1;
  transform: translateY(0);
}
